{{outlet}}
{{#link-to "game" click=(action "prevPage") tagName="button"}}prevPage{{/link-to}}
{{#link-to "game" click=(action "nextPage") tagName="button"}}nextPage{{/link-to}}

{{#each arrengedContent as |item index|}}
   {{#link-to "game" (query-params page=index) tagName="button"}}{{add-one index}}{{/link-to}}
{{/each}}
{{#each arrengedContent as |item|}}
   <p>{{item.published}}</p>
   <p>{{item.title}}</p>
   <p>{{item.content}}</p>
   <p>{{item.category}}</p>
   <p>{{item.url}}</p>
   <p>{{item.img}}</p>
{{/each}}
