<h1>Games</h1>
<h3>Welcome to our game sportal</h3>
{{#link-to 'register'}}Register{{/link-to}}/
{{#link-to 'login'}}Login{{/link-to}}

{{#each model as |item|}}
  <article>
    <h2>{{item.title}}</h2>
    <p>{{item.category}}</p>
    <p>{{item.description}}</p>
    <p>{{item.published}}</p>
    <p>{{item.content}}</p>
    <img src="{{item.img}}" alt='Article imgs'/>
    <a href="{{item.url}}" target="_blank">Article URL</a>
  </article>
{{/each}}
