<!-- app/templates/components/login-form.hbs -->
<form {{action "authenticate" on="submit"}}>
  <label for="identification">Username</label>
  {{input value=identification placeholder="Enter Username"}}
  <label for="password">Password</label>
  {{input value=password type="password" placeholder="Enter Password"}}
  <button type="submit">Login</button>
</form>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
{{outlet}}